<p align="center">
  <a href="https://christianpenrod.com">
    <img
      src="assets/banner.png"
      alt="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
      title="Hey, I'm Christian. Front-End Web Developer (https://christianpenrod.com)."
    />
  </a>
</p>

<h2>Latest Posts</h2>

<ul>
  <% posts.forEach(function(post){ %>
  <li><a href="<%= post.link %>"><%= post.title %></a></li>
  <% }); %>
</ul>

<h2>Technology Stats</h2>
